      /* Aplica las animaciones a tu clase animated-title */
      .animated-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation-duration: 1s;
        display: none; /* Oculta inicialmente el texto */
    }

    /* Clase para mostrar el texto después de una animación */
    .visible {
        display: block;
    }